// variables:
$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;

@mixin media($media) {
  @if $media == xs {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $media == sm {
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $media == md {
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
      @content;
    }
  } @else if $media == lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  }
}

.moves-container {
  width: 100%;
  background: var(--theme-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.moves-header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;

  i{
    font-size: 25px;
    cursor: pointer;
  }

  @include media(lg){
    justify-content: space-between;
  }

  @include media(md){
    justify-content: space-between;
  }
  @include media(sm){
    justify-content: space-between;
  }
}

.list-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;

  .card {
    width: 85%;
    border-width: 3px;

    @include media(lg) {
      width: 80%;
      font-size: 20px;
    }

    .card-header {
      p {
        float: right;
      }
    }
  }
}
